<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpeg" class="img-responsive center-block"
          style="max-height: 300px; padding-bottom: 50px" />
      </div>

      <div class="text-center">Desenvolvido por:</div>
      <div class="text-center">
        <h3>Miguel Arcanjo Ramos</h3>
      </div>

      <div class="text-center">mig-ramos</div>
      <div class="text-center">
        <a target="_blank"
          href="https://github.com/mig-ramos/ephemeris-front-angular">https://github.com/mig-ramos/ephemeris-front-angular</a>
      </div>
    </div>
  </div>
</div>
